@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fefefa;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header img {
  width: 25rem;
  height: 15rem;
  visibility: hidden;
}

.hero-heading {
  display: flex;
  justify-content: center;
  visibility: hidden;
}

.hero-heading h1 {
  font-size: 8rem;
  font-weight: 600;
}

.info {
  background: #000;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.info-text h2 {
  color: #f2f3f4;
  font-weight: 400;
  margin-top: 2rem;
  margin-left: 2rem;
  font-size: 5rem;
  visibility: hidden;
}

.info-text h3 {
  color: #fff;
  font-weight: 600;
  margin-left: 2rem;
  margin-top: -1rem;
  font-size: 5rem;
}

.route-img img {
  width: 25rem;
  height: 25rem;
  margin-left: 2rem;
}

.app-link {
  display: flex;
  justify-content: flex-end;
  margin-right: 15rem;
  margin-top: -5rem;
}

.app-link a {
  text-decoration: none;
}

.app-link button {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  color: #fff;
  border-color: #fff;
  width: 12rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  font-size: 1.3rem;
  font-weight: 400;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    height: 100vh;
    margin: 1rem;
  }

  .header img {
    width: 10rem;
    height: 5rem;
  }

  .hero-heading {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 7rem;
    align-items: center;
    margin: 2rem;
  }

  .hero-heading h1 {
    font-size: 4.5rem;
    font-weight: 600;
    text-align: left;
    line-height: 1.2;
  }

  .info-text h3 {
    font-size: 3rem;
    margin-top: 1.5rem;
  }
  .info-text h2 {
    font-size: 2rem;
  }

  .route-img img {
    width: 20rem;
    height: 20rem;
    margin-left: 3rem;
    margin-top: 5rem;
  }

  .app-link {
    display: flex;
    justify-content: flex-end;
    margin-right: 7.5rem;
    margin-top: 5rem;
  }

  .info {
    height: 100vh;
  }
}
